body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: white;
}

#support {
  background-color: white;
}

#contact {
  background-color: white;
}

section {
  padding-top: 5rem;
}
